testnet-bpi-setup/data/node/db
testnet-bpi-setup/chain-index/db
testnet-bpi-setup/bpi/scripts
testnet-bpi-setup/bpi/txs
testnet-bpi-setup/node/db

testnet-bpi-setup/binaries/*
!testnet-bpi-setup/binaries/cardano-cli
!testnet-bpi-setup/binaries/plutus-chain-index
!testnet-bpi-setup/binaries/cardano-node


vasil/node/db
vasil/node/ipc
